<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/base}">
<head>
    <title>Blog Detail</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row" style="min-height: 100vh;">
            <div class="col-8 border-end border-3 border-secondary-subtle">
                <div class="py-2 h5"><a th:href="@{/blogs}" class="link-primary">Back</a></div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div th:text="|${#temporals.format(post.updatedAt, 'dd-MM-yyyy HH:mm')} / ${post.category?.name}|">02-11-2025 / Lập trình</div>
                        <div th:text="${user.fullName}">Account</div>
                    </div>
                    <div class="card-body">
                        <h3 th:text="${post.title}" class="card-title">Sam Altman thừa nhận vội vã khi khoe</h3>
                        <p th:utext="${post.content}" class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <div class="h3 text-primary">Discussions</div>
                        <form th:action="@{/blogs/comment}" class="mb-3" method="post">
                            <input type="hidden" name="postId" th:value="${post.id}">
                            <input name="comment"
                                    type="text" class="form-control border-secondary"
                                   placeholder="Write your discussion">
                        </form>
                        <div th:each="co : ${comments}">
                            <div>
                                <strong th:text="|${co.user.fullName}: |"></strong>
                                <span th:text="${co.comment}"></span>
                            </div>
                            <p class="d-inline-flex gap-1 ms-3">
                                <a class="" data-bs-toggle="collapse" th:href="'#replyBox-' + ${co.commentId}"
                                   role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Reply
                                </a>
                            </p>
                            <div class="collapse" th:id="'replyBox-' + ${co.commentId}">
                                <div class="card card-body bg-light border-0">
                                    <form th:action="@{/blogs/comment}" method="post" class="mb-2">
                                        <input type="hidden" name="postId" th:value="${post.id}">
                                        <input type="hidden" name="parentId" th:value="${co.commentId}"> <!-- Gửi thêm ID cha -->
                                        <input name="comment" type="text"
                                               class="form-control form-control-sm"
                                               placeholder="Write a reply...">
                                    </form>

                                    <div th:each="com : ${co.replies}">
                                        <strong th:text="|${com.user.fullName}: |"></strong>
                                        <span th:text="${com.comment}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="text-bg-primary p-3 h5">Search Blogs</div>
                <form th:action="@{/blogs/blogs-search}" method="post">
                    <input type="text" name="title" class="form-control" placeholder="Type keyword to search">
                </form>
                <div class="text-bg-primary p-1 h5 my-3">Blog Categories</div>
                <div class="ms-3">
                    <ul class="list-group list-group-flush">
                        <li th:each="c : ${categories}" class="list-group-item">
                            <p><a th:href="@{/blogs/blogs-category/{id}(id=${c.id})}"
                                  th:value="${c.id}"
                                  th:text="${c.name}"
                                  class="link-primary">Primary link</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>